.content {
    overflow: hidden;
    height: auto;
    padding: 20px;
    width: 100%;
}

mat-form-field {
    width: 100%;
  }

textarea { display: block; width: 100%; }

.Tomer { color: #71deff; }
.Meital { color: #36e9b6; }